<div class="tableish">
  <div class="header row">
    <div class="one columns">Version</div>
    <div class="four columns">Released</div>
    <div class="seven columns">Notes</div>
  </div>
  <% releases.each_with_index do |release,index| %>
    <div class="body row">
      <div class="one column"><%= release.version_label(releases[index+1]) %></div>
      <div class="four columns"><%= release.released_at(:words => true) %></div>
      <div class="seven columns"><%= release.short_note %></div>
    </div>
  <% end %>
</div>
