<div class="container">
  <div class="row">
    <ul class="breadcrumbs">
      <li><%= link_to 'Projects', projects_path %></li>
      <li><%= link_to @project.name, project_path(@project.name) %>
      <li class="current"><%= link_to 'Edit', edit_project_path(@project) %></li>
    </ul>
    <div class="twelve columns centered">
      <%= render 'form' %>
    </div>
  </div>
</div>
