<div class="container">
  <div class="row">
    <%= breadcrumbs(@project.breadcrumb,@project.breadcrumb(true,:edit)) %>
    <div class="twelve columns centered">
      <%= render 'form' %>
    </div>
  </div>
</div>
