<div class="row">
    <h2 class="span6">DLSS Project Release Board</h2>
    <div class="pull-right">
      <span class="span1 label version-current">Current</span>
      <span class="span1 label version-patch">Patch</span>
      <span class="span1 label version-minor">Minor</span>
      <span class="span1 label version-major">Major</span>
    </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Project</th>
      <th>Type</th>
      <th>Versions</th>
    </tr>
  </thead>
  <tbody>
  <% @projects.sort_by { |x| x.name.downcase }.each do |project| %>
    <tr class="project">
      <td><%= link_to project.name, project_path(project.name), :style => 'white-space: nowrap' %></div>
      <td><%= project.kind %></td>
      <td>
      
      <% project.latest_releases.each do |release| %>
        <div class="span3">
          <%= release.version_label(project.max_version) %> <%= release.environment.name %>
        </div>
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
