<div class="container">
  <div class="row">
    <%= render :layout => 'breadcrumbs' do %>
      <li><%= link_to 'Projects', projects_path %></li>
      <li class="current"><%= link_to 'Register New Project', new_project_path %></li>
    <% end %>
    <div class="twelve columns centered">
      <%= render 'form' %>
    </div>
  </div>
</div>
