.markdown{
	font-family: helvetica, arial, freesans, clean, sans-serif;
	color: #333;
	border: none;
	line-height: 1.5;
	text-align:left;

  pre{
  	background-color: #eee;
  	padding: 10px;
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
    margin-bottom: 18px;
  	overflow: auto;
  }
  code{
    font-family: monospace;
  	background-color: #eee;
  	padding: 1px 3px;
  	-webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
  	border-radius: 2px;	
  }
  li p{
  	margin: 0.3em;
  }
  li{
  	list-style-type: disc;
    margin-left: 1.5em;
    margin-bottom: 0;
  }
  ul,ol{
    margin-bottom: 0;
  }
  a:link, a:visited{
  	color: #33e;
  	text-decoration: none;
  }
  a:hover{
  	color: #00f;
  	text-shadow:1px 1px 2px #ccf;
  	text-decoration:underline;
  }
  h1{
  	color: #999;
  	font-weight: bold;
  }
  h2{
  	border-bottom: 1px dotted #aaa;
  	margin-top: 1em;
  	color: #333;
  }
  h3{
  	color: #666;
  }
  .shadow{
  	-webkit-box-shadow:0 5px 15px #000;
  	-moz-box-shadow:0 5px 15px #000;
  	box-shadow:0 5px 15px #000;		
  }
}