// Place all the styles related to the releases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tableish{
  border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #DDD;
  overflow: hidden;
  
  div.row{
    padding: 3px;
    &.header{
      background-color: whiteSmoke;
      font-weight: bold;
    }
  
    &.body:nth-child(even){
      background-color: #F9F9F9;
    }
  }
}

pre.notes{
  font-family: consolas, monospace
}

a.notification-link{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  &.create {background-image: asset-data-url('icons/add.png');}
  &.edit   {background-image: asset-data-url('icons/edit.png');}
  &.delete {background-image: asset-data-url('icons/delete.png');}
  &:hover{
    &.create {background-image: asset-data-url('icons/add.color.png');}
    &.edit   {background-image: asset-data-url('icons/edit.color.png');}
    &.delete {background-image: asset-data-url('icons/delete.color.png');}
  }
}