<div class="container">
<div class="ten columns centered">
<table>
  <thead>
    <tr>
    <th>Project</th>
    <th>Type</th>
    <th>Development</th>
    <th>Test</th>
    <th>Production</th>
    </tr>
  </thead>
  <tbody>
  <% @releases.keys.sort.each do |project| %>
  <% current = @releases[project] %>
    <tr>
      <td><%= current.values.first.project.name %></td>
      <td><%= current.values.first.project.kind %></td>
      <% ['development','test','production'].each do |env| %>
      <%= render :partial => 'release', :locals => { :project => @releases[project], :env => env } %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>