<div class="container">
  <div class="row">
    <ul class="breadcrumbs">
      <li><%= link_to 'Projects', projects_path %></li>
      <li class="current">New Project></li>
    </ul>
    <div class="twelve columns centered">
    <%= render 'form' %>
    </div>
  </div>
</div>