<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to 'releaseboard', root_url, :class => 'brand' %>

    <ul class="nav">
      <%= content_for(:nav) %>
    </ul>
  </div>
  </div>
</div>
