<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <%= link_to 'releaseboard', root_url, :class => 'navbar-brand' %>

      <ul class="nav navbar-nav">
        <%= content_for(:nav) %>
      </ul>
    </div>
  </div>
</div>
